img {
  padding: 8px;
  vertical-align: middle;
}

p {
  color: white;
}

button {
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
}

.success {
  float: inline-start;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #3a61ee;
  color: #fff;
}

.uploaded {
  background-color: rgb(93, 79, 125);
}



input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: white;
  opacity: 0;
}

.button-wrap {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 0.8em !important;
}
