<div style="margin-top: 2em; margin-bottom: 2em;" class="container">
  <div class="justify-content-center">

    <div *ngIf="playing?.length" class="bg-mid">
      <h2>Playing:</h2>
      <div class="row form-group">
        <img class="mx-auto" style="object-fit: cover;" [id]="playing[0]" [src]="server + '/storage/' + playing[0]" [alt]="playing[0]">
      </div>
    </div>

    <div class="card-columns">

      <div *ngFor="let gif of gifs">
        <div [class]="(gif === playing[0]) ? 'card playing-card' : 'card bg-mid'">
          <div>
          <img class="card-img-top" [id]="gif" [src]="server + '/storage/' + gif" [alt]="gif">

          <div class="card-body">
            <button class="btn btn-danger" (click)="deleteGif(gif)">Delete</button>
            <button class="btn btn-dark" (click)="selectGif(gif)">Select</button>
          </div>

        </div>
      </div>

    </div>
  </div>
