<div class="container">
  <div class="row">
    <div class="col-lg-12 bg-mid" style="margin-top: 2em;padding: 10px;border:3px dotted rgb(54, 49, 61);">
      <form [formGroup]="uploadImageForm" class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="row form-group">
          <div class="col-md-12" style="text-align: center;">
            <h2>Upload Gif</h2>
            <h5>{{message}}</h5>
          </div>
        </div>
        <div class="row form-group">
          <img class="mx-auto" [src]="uploadedImage" (load)="handleImageLoad()"
            style="object-fit: cover;">
        </div>
        <div class="row form-group">
          <div class="col-lg-12 mt-2" style="text-align: right;">
            <label class="button btn" for="upload">Select</label>
            <input id="upload" type="file" class="form-control" formControlName="image" (change)="imageUpload($event)">
            <button type="submit" class="btn btn-dark">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
